.app-container{
    display: flex;
    flex-direction: column;
    background-color:#25488d;
    color: #fff;

}

.app-title{
    background-color: rgba(49, 68, 196, 0.87);
}

.main-title {
    font-size: 3vw;
    text-align: center;
    color: #fff;
}

.query-form{
    display: flex;
    flex-direction: column;
    padding : 2.5vw;
    align-items: center;

}
.query-form-input{

    width: 16vw;
    height: 2.6vw;
    font-size: 1.7vw;
    text-align: center;
}

.search-button{
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
}

.app-answers{
    display: flex;
    flex-direction: column ;
    text-align: center;
    align-items: center;
    gap: 2vw;
}

.display-errors{
    color: #d78b8b;
}


.name-container , .business-container{
    display: flex ;
    flex-direction: column ;
    gap: 1.5vw;

}
